
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100&display=swap');

* {
  text-align: center;
  font-family: 'Catamaran', sans-serif;
}

button {
  border: 2px dotted black;
  border-radius: 5px;
  margin: 10px;
}

.catimg {
  width: 50%;
}

button .catbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin:  0 auto;
}
